@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: white;
  color: black;
  font-family: "Pretendard Variable", sans-serif;
}
@theme inline {
  --color-primary: #3cd3e1;
}

.border {
  @apply border-gray-200 border;
}

.border-b {
  @apply border-gray-200 border-b;
}
.border-t {
  @apply border-gray-200 border;
}
